body {
  text-align: center !important;
  font-size: 15px;
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  font-family: 'Montserrat', sans-serif !important;
}


/*containers*/
header, main, footer {
  padding: 2% 5%;
}

/*headings and paragraphs*/
h1 {
  font-size: 1em;
}
h1, label {
  color: hsl(234, 14%, 74%);
}

h2 {
  font-size: 3em;
  font-weight: 700;
}

.row {
  align-items: center;
}

/*buttons*/
.color-btn, .white-btn {
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
}

.color-btn {
  background: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
  color: white !important;
  border: 1px solid hsl(237, 63%, 64%);
}

.color-btn:hover {
  background: white !important;
  color: hsl(237, 63%, 64%) !important;
}


.white-btn {
  background: white !important;
  color: hsl(237, 63%, 64%) !important;
  border: 1px solid white;
}

.white-btn:hover {
  background: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%)) !important;;
  color: white !important;
}

/*toggle button*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*header*/
#toggleDiv label, #toggleDiv input{
  padding: 10px 18px;
}

/*main*/
.card-layout {
  padding: 15px 0;
}

.card {
  border: none;
  box-shadow: 10px 10px 100px hsl(234, 14%, 74%);
  padding: 15px;
}

#colorCard {
  background: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
  color: white;
  padding: 30px 15px;
}

/*footer*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:991px) {

  .row {
    justify-content: center;
  }
  
  .card-layout {
    padding: 15px;
  }

  #colorCard {
    padding: 15px;
  }

}

@media (max-width:991px) {

  .row {
    justify-content: center;
  }
  
  .card-layout {
    padding: 15px;
  }

  #colorCard {
    padding: 15px;
  }

}

@media (max-width:600px) {

  body {
    font-size: 12px;
  }

}

@media (max-width:350px) {

  body {
    font-size: 10px;
  }

  header, main, footer {
    padding: 2% 2%;
  }

}